@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Fira+Code:wght@300&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Fira+Code:wght@300&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stats-text {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0.1rem;
}

p {
  font-size: 15px;
}

body {
  background: hsl(225, 25%, 3%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  padding: 0 16rem;
  line-height: 1.6rem;
}
@media (max-width: 375px) {
  body {
    padding: 3rem 1rem;
    height: fit-content;
  }
}
body .card {
  background: #032202;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
@media (max-width: 375px) {
  body .card {
    flex-direction: column;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }
}
body .card > section {
  flex: 1;
}
body .card .section-left {
  color: hsl(0, 0%, 100%);
  padding: 3rem;
}
@media (max-width: 375px) {
  body .card .section-left {
    order: 2;
    padding: 1.5rem;
  }
}
body .card .section-left h1 {
  margin-bottom: 2rem;
  line-height: 2rem;
  font-size: 28px;
}
@media (max-width: 375px) {
  body .card .section-left h1 {
    margin-bottom: 1rem;
  }
}
body .card .section-left > p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 3rem;
}
@media (max-width: 375px) {
  body .card .section-left > p {
    margin-bottom: 0.5rem;
  }
}
body .card .section-left p {
  color: hsla(0, 0%, 100%, 0.6);
}
body .card .section-left span {
  color: #369457;
}
body .card .section-left .numbers {
  display: flex;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}
@media (max-width: 375px) {
  body .card .section-left .numbers {
    display: block;
  }
}
body .card .section-left .numbers .number {
  margin-right: 4rem;
}
@media (max-width: 375px) {
  body .card .section-left .numbers .number {
    margin-right: 0;
    margin-top: 1rem;
  }
}
body .card .section-right .img-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
body .card .section-right .img-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 375px) {
  body .card .section-right .img-container img {
    border-radius: 10px 10px 0 0;
  }
}
body .card .section-right .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #1F6032;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 375px) {
  body .card .section-right .img-container .overlay {
    border-radius: 10px 10px 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
